// reset and normalize
@import './partials/utils/reset';
@import 'normalize.css';

@import './partials/variables/layout';
@import './partials/variables/colors';
@import './partials/utils/breakpoints';
@import './partials/utils/typography';
@import './partials/fonts';

@import './partials/layout';

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background-color: $color-white;
  color: $color-black;
  @include typo-paragraph;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-general;
}

h1 {
  @include typo-h1;
}
h2 {
  @include typo-h2;
}
h3 {
  @include typo-h3;
}
h4 {
  @include typo-h4;
}
h5 {
  @include typo-h5;
}

p {
  @include typo-paragraph;
}

* {
  box-sizing: border-box;
}
