.button {
  cursor: pointer;

  display: inline-block;
  padding: 0 35px;
  color: $color-white;
  border-radius: 4px;
  height: 50px;
  line-height: 47px;
  min-width: 180px;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: 2px solid $color-white;

  transition-duration: 280ms;
  transition-property: border-color, background-color, color, box-shadow;
  transition-timing-function: linear;

  &.fixed-width {
    width: 310px;
  }

  &:not(.disabled):not(:disabled) {
    &:hover {
      background-color: transparentize($color-blue-gray, 0.5);
      border-color: transparentize($color-white, 0.25);
    }
  }

  &.orange {
    border-color: $color-orange;
    color: $color-orange;

    &:not(.disabled):not(:disabled) {
      &:hover {
        box-shadow: 0px 0px 20px -5px rgba(lighten($color-orange, 18), 0.25);
        background-color: inherit;
        color: lighten($color-orange, 18);
        border-color: lighten($color-orange, 18);
      }
    }
  }

  &:disabled,
  &.disabled {
    color: $color-gray;
    border-color: $color-gray;
    opacity: 0.6;
  }
}
