@font-face {
  font-family: Thedus-Condensed;
  src: url('/fonts/Thedus-Condensed.otf') format('opentype');
}

@font-face {
  font-family: Thedus-CondensedLight;
  src: url('/fonts/Thedus-CondensedLight.otf');
}

@font-face {
  font-family: Thedus-StencilCondensed;
  src: url('/fonts/Thedus-StencilCondensed.otf');
}

@font-face {
  font-family: Thedus-StencilWide;
  src: url('/fonts/Thedus-StencilWide.otf');
}

@font-face {
  font-family: Thedus-Wide;
  src: url('/fonts/Thedus-Wide.otf');
}

@font-face {
  font-family: Thedus-WideLight;
  src: url('/fonts/Thedus-WideLight.otf');
}

@mixin font-thedus-wide {
  font-family: Thedus-Wide, Arial, Helvetica, sans-serif;
}

@mixin font-thedus {
  font-family: Thedus-CondensedLight, Arial, Helvetica, sans-serif;
}

@mixin font-general {
  font-family: 'Open Sans', sans-serif;
}
