$color-white: #fafafa;
$color-black: #242424;
$color-blue: #082032;
$color-blue-gray: #334756;
$color-orange: #f0a500;
$color-gray: #c3c3c3;

@mixin blueprint-background($color: $color-blue) {
  background-color: $color;
  background-image: radial-gradient(
      circle,
      rgba(255, 255, 255, 0.01),
      transparent
    ),
    linear-gradient(rgba(255, 255, 255, 0.02) 1px, transparent 0),
    linear-gradient(90deg, rgba(255, 255, 255, 0.015) 1px, transparent 0),
    linear-gradient(rgba(255, 255, 255, 0.018) 1px, transparent 0),
    linear-gradient(90deg, rgba(255, 255, 255, 0.015) 1px, transparent 0);
  background-size: cover, 5rem 5rem, 5rem 5rem, 1rem 1rem, 1rem 1rem;
  background-position: 50% 50%;
}
